# dependencies
node_modules/

# production build
dist/

# environment variables


# logs
*.log

# editor
.vscode/

# system files
.DS_Store
Thumbs.db

# temporary docs (not ready yet)
notImportantCurrently/