# dependencies
node_modules/

# production build
dist/

# environment variables


# logs
*.log

# editor
.vscode/

# system files
.DS_Store
Thumbs.db

# temporary docs (not ready yet)
ATTRIBUTIONS.md
BACKEND_INTEGRATION.md
README.md
REFACTORING_SUMMARY.md
.env
__pycache__
venv
google-chrome-stable_current_amd64.deb
PROJECT_STRUCTURE.md